body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3ZDIaUrACmhoYMVFfkzjeqC7xpXxgG_3wBQ&s"); /* thème sombre par défaut */
  background-size: cover;
  background-position: center;
}

/* Barre latérale */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #575757;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 30px;
}

/* Logo */
#logo {
  cursor: pointer;
  width: 100px;
  margin: 10px;
}

/* Contenu principal */
#main {
  margin-left: 20px;
}
